.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.tweet {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  float: left;
  position: relative;
  left: 100px;
}

th {
  text-align: left;
}

img {
  padding-left: 100px;
  float: left;
}

p.wait {
  color: green;
}

p.message {
  color: blue;
}

p.error {
  color: red;
  font-size: 16px;
}
