<div class="container">
 <!--  <h1>Whatchu wanna tweet, sucka?</h1>
  <form action="/tweet" method="POST">
  <label>Type twitter handle here<input type="text" name="handle"></label>
  <label>Type tweet here<input type="text" name="tweet" ></label>
  <input type="submit" value="Tweet this!">
  </form>
 -->

    <h1>Who you lookin' at, sucka?</h1>
  <form action="/find_user" method="POST">
  <label>Type twitter handle here<input type="text" name="handle"></label>
  <input type="submit" value="Find sucka!">
  </form>
</div>

<!-- 
There should be two types of URLs: the index page with a URL field to enter a Twitter username and a URL to display the most recent tweets of a particular username.

That is,

http://localhost:9393/jfarmer
should display the most recent tweets from https://twitter.com/jfarmer.

 -->
